<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans+Narrow&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{site.url}}/assets/favicons/favicon-96x96.png">
	<link rel="icon" type="image/svg+xml" href="{{site.url}}/assets/favicons/favicon.svg">
	<link rel="shortcut icon" href="{{site.url}}/assets/favicons/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/favicons/apple-touch-icon.png">
	<link rel="manifest" href="{{site.url}}/assets/favicons/manifest.json">
	<script src="https://kit.fontawesome.com/13aeace8da.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>