---
---
{% assign haveBlogPost = 0 %}
{% assign haveProductPost = 0 %}

{% for item in site.blog %}
	{% assign haveBlogPost = 1 %}
	{% break %}
{% endfor %}

{% for item in site.products %}
	{% assign haveProductPost = 1 %}
	{% break %}
{% endfor %}

{% assign is_blog_page = 0 %}
{% assign is_product_page = 0 %}

{% if page.url == '/blog/' or page.url == '/blog/index.html' or page.pagination.collection == 'blog' %}
	{% assign is_blog_page = 1 %}
{% elsif page.url == '/' or page.url == '/index.html' or page.url == '/product/' or page.url == '/product/index.html' or page.pagination.collection == 'products' %}
	{% assign is_product_page = 1 %}
{% endif %}

{% assign redirect_url = nil %}

{% if is_product_page == 1 and haveProductPost == 0 %}
	{% if haveBlogPost == 1 %}
		{% assign redirect_url = '/blog/' %}
	{% else %}
		{% assign redirect_url = '/about/' %}
	{% endif %}
{% elsif is_blog_page == 1 and haveBlogPost == 0 %}
	{% if haveProductPost == 1 %}
		{% assign redirect_url = '/product/' %}
	{% else %}
		{% assign redirect_url = '/about/' %}
	{% endif %}
{% endif %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
	{% capture url_path %}{{site.url}}{{page.url}}{% endcapture %}
	{% if redirect_url %}
		<head><meta http-equiv="refresh" content="0; url='{{ redirect_url }}'" /></head>
	{% endif %}
	{% include common.html %}

	<body>
		{% include header.html %}
		<article id="theArticle">
			{% for post in paginator.posts %}
				<div>
					<div style="color: #d33682;text-align: center;font-size: 150%">
						<strong>{{ post.title }}</strong>
						<div style="line-height: 0.5;text-align: center;color: #657b83;font-size: 70%">
							{{ post.date | date: '%B %d, %Y' }}
						</div>
						<hr>
					</div>
				</div>
				<div id="post-content" class="scrollable">
					{{ post.content }}
				</div>
				{% if paginator.total_pages > 1 %}
					<div id="pagination-area">
						<hr>
							<div class="pagination">
							  {% if paginator.previous_page %}
								<a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev    </a>
							  {% else %}
								<span>&laquo; Prev    </span>
							  {% endif %}

							  {% if paginator.next_page %}
								<a href="{{ paginator.next_page_path | relative_url }}">Next: {{ paginator.posts[paginator.next_page] }} &raquo;</a>
							  {% else %}
								<span>  Next &raquo;</span>
							  {% endif %}
							</div>
					{% endif %}
			{% endfor %}
		</article>
		{% include footer.html %}
	</body>
</html>
